/********Color*********/
$base: #494949;
$white: #fff;
$black:#000000;
$red:#eb4869;
$dark-grey: #585858;
$light-grey:#f5f5fa;
$green:#569B40;
$light-green: #f1f8f1;
$dark-blue:#19294a;
$light-blue: #5589c7;
$bg-green:#f1f8f1;
$bg-gray: #e5e5e5;

/********Common Radius*********/
$input-radius: 4px;
$box-radius:12px;
$oval-radius: 100px;
$circle-radius: 50%;

/********Box Shadow*********/
$shadow:0 4px 24px 0 rgba(0, 0, 0, 0.08);

/********Common Padding*********/
$p-15:15px;
$p-24:24px;

